<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="ui segment">
    <div class="ui form">
      <h2>Configuración usuario</h2>
      <div class="ui divider"></div>
      <div class="field">
        <%= f.input :email, label: false, placeholder: 'Correo electronico',required: true, autofocus: true %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Esperando confirmación para: <%= resource.unconfirmed_email %></p>
      <% end %>
      <div class="two fields">
        <div class="field">
          <%= f.input :password, label: false, placeholder: 'Contraseña', autocomplete: "off", hint: "Dejar en blanco si no se quiere hacer modificaciones", required: false %>
        </div>
        <div class="field">
          <%= f.input :password_confirmation, label: false, placeholder: 'Confirmar contraseña' ,required: false %>
        </div>
      </div>
      <div class="field">
        <%= f.input :current_password, placeholder: 'Contraseña actual', label: false, hint: "Necesitamos tu contraseña actual para poder realizar los cambios", required: true %>
      </div>
      <%= f.button :submit, "Actualizar datos", class: 'ui teal button' %>
    </div>
  </div>   
<% end %>