<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="ui segment">
    <div class="ui form">
      <h2>Configuración usuario</h2>
      <div class="ui divider"></div>
      <div class="ui grid">
        <div class="row">
          <div class="four wide column">
            <div class="ui card">
              <% if @user.avatar? %>
                <div class="image">
                  <%= image_tag @user.avatar.url(:thumb) %>
                </div>   
              <% end %>
              <div class="content">
                <a id="upload-btn"  class="ui fluid icon button">
                  <i class="file icon"></i>
                  Foto de perfil</a>
                  <%= f.input :avatar, label: false, placeholder: 'Foto de perfil', input_html: { hidden: true } %>
                  <input type="file" id="file-display" style="display:none">
              </div>
            </div>
          </div>
          <div class="twelve wide column">
            <div class="two fields">
              <div class="field">
                <%= f.input :first_name, label: false, placeholder: 'Nombre',required: true, autofocus: true %>
              </div>
              <div class="field">
                <%= f.input :last_name, label: false, placeholder: 'Apellido',required: true, autofocus: true %>
              </div>
            </div>
            <div class="field">
              <%= f.input :username, label: false, placeholder: 'Nombre de usuario',required: true, autofocus: true %>
            </div>
            <div class="field">
              <%= f.input :email, label: false, placeholder: 'Correo electronico',required: true, autofocus: true %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Esperando confirmación para: <%= resource.unconfirmed_email %></p>
            <% end %>
            <div class="two fields">
              <div class="field">
                <%= f.input :password, label: false, placeholder: 'Contraseña', autocomplete: "off", hint: "Dejar en blanco si no se quiere hacer modificaciones", required: false %>
              </div>
              <div class="field">
                <%= f.input :password_confirmation, label: false, placeholder: 'Confirmar contraseña' ,required: false %>
              </div>
            </div>
            <div class="field">
              <%= f.input :current_password, placeholder: 'Contraseña actual', label: false, hint: "Necesitamos tu contraseña actual para poder realizar los cambios", required: true %>
            </div>
            <div class="field">
              <%= f.input :about, placeholder: 'Acerca de...', label: false, required: false  %>
            </div>
            <%= f.button :submit, "Actualizar datos", class: 'ui teal button' %>
            <%= link_to 'Cancelar', root_path, class: 'ui red button' %>
          </div>
        </div>
      </div>
    </div>
  </div>   
<% end %>