.card
  %h2.card-header Registrarse
  .card-body
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      = f.input :first_name, label: false, placeholder: 'Nombre', required: true
      = f.input :last_name, label: false, placeholder: 'Apellido', required: true
      = f.input :username, label: false, placeholder: 'Nombre de usuario', required: true
      = f.input :email, label: false, placeholder: 'Correo electronico', required: true, autofocus: true
      = f.input :password, label: false, placeholder: 'Contraseña', required: true, hint: ("Ingrese #{@minimum_password_length} caracteres minimo" if @minimum_password_length)
      = f.input :password_confirmation, label: false, placeholder: 'Confirmar contraseña', required: true
      = f.button :submit, "Registrarse", class: 'btn btn-primary'
  .card-footer
    = render "devise/shared/links"
