<div class="row justify-content-md-center">
  <div class="col-md-4">
    <div class="card">
      <h2 class="card-header">Iniciar sesión</h2>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Correo electronico" %>
          <%= f.input :password, required: true, label: false, placeholder: "Contraseña" %>
          <%= f.button :submit, "Iniciar sesión", class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
      <div class="card-footer">
        <p class="text-center"><%= render "devise/shared/links" %></p>
      </div>
    </div>
  </div>
</div>
