= simple_form_for(@guarantee) do |f|
  = f.error_notification
  .ui.form
    .ui.segment
      %h2 Datos de ingreso
      .ui.divider
      .two.fields
        .field
          = f.input :guarantee_type, label: 'Tipo garantia', input_html: { class: 'ui fluid selection dropdown' }
        .field
          = f.input :income_number, label: 'Numero de ingreso'
      .two.fields
        .field
          = f.input :income_applicant, label: 'Solicitante de ingreso'
        #income_date.field
          = f.input :income_date, label: 'Fecha de ingreso', as: :string, input_html: { class: 'ui calendar' }
    .ui.segment
      %h2 Datos prestador
      .ui.divider
      .two.fields
        .field
          = f.input :borrower_name, label: 'Nombre tomador'
        .field
          = f.input :borrower_id, as: :string, label: 'ID Tomador'
    .ui.segment
      %h2 Bancos
      .ui.divider
      = f.input :bank_name, label: 'Nombre banco', input_html: { class: 'ui fluid selection dropdown' }
    .ui.segment
      %h2 Detalles de la garantia
      .ui.divider
      .three.fields
        .field
          = f.input :value_guarantee, label: "Valor garantia"
        .field
          = f.input :currency_guarantee, label: "Moneda garantia", input_html: { class: 'ui fluid selection dropdown' }
        #due-date.field
          = f.input :due_date, as: :string, label: "Fecha de vencimiento", input_html: { class: 'ui calendar' }, style:"#{'display:none' if @guarantee.guarantee_type == 'VALE_VISTA'}"
      .two.fields
        .field
          = f.input :bail, label: "Caución"
        .field
          = f.input :detail, label: "Detalle"
      .two.fields
        .field
          = f.input :bip, label: "Codigo BIP"
        .field
          = f.input :email, label: 'Correo electronico'
      .field
        = f.input :observation, label: 'Observación'
      = f.button :submit, class: 'ui primary button'