= simple_form_for(@guarantee) do |f|
  = f.error_notification
  .form-group
    .card
      %h2.card-header Datos devolución
      .card-body
        = f.input :state, label: "Estado boleta"
        = f.input :devolution_number, label: "Numero de devolución"
        = f.input :devolution_date, as: :string, label: "Fecha de devolución", input_html: { class: 'datepicker' }
        = f.input :devolution_return, label: "Medio de devolución"
        = f.input :sectorialist_devolution, label: "Sectorialista devolución"
        = f.input :technical_unit, label: "Unidad tecnica"
        = f.input :email, label: 'Correo electronico'
        = f.input :observation, label: 'Observación', input_html: { rows: '2' }
    %br
    .card
      %h2.card-header Datos de ingreso
      .card-body
        = f.input :guarantee_number, label: 'Numero de garantia'
        = f.input :income_number, label: 'Numero de ingreso'
        = f.input :income_applicant, label: 'Solicitante de ingreso'
        = f.input :income_date, label: 'Fecha de ingreso', as: :string, input_html: { class: 'datepicker' }
        = f.input :guarantee_type, label: 'Tipo garantia'
    %br
    .card
      %h2.card-header Datos prestador
      .card-body
        = f.input :borrower_name, label: 'Nombre tomador'
        = f.input :borrower_id, as: :string, label: 'ID Tomador'
    %br
    .card
      %h2.card-header Bancos
      .card-body
        = f.input :bank_name, label: 'Nombre banco'
    %br
    .card
      %h2.card-header Detalles de la garantia
      .card-body
        = f.input :value_guarantee, label: "Valor garantia", as: :string
        = f.input :currency_guarantee, label: "Moneda garantia"
        - if @guarantee.guarantee_type == 'VALE_VISTA'
          = f.input :due_date, as: :string, label: "Fecha de vencimiento", disabled: true, input_html: { class: 'datepicker' }
        - else
          = f.input :due_date, as: :string, label: "Fecha de vencimiento", input_html: { class: 'datepicker' }
        = f.input :bail, label: "Caución"

        = f.input :detail, label: "Detalle"

        = f.input :bip, label: "Codigo BIP"
      .btn.btn-group
        = f.button :submit, class: 'btn btn-info'
        = link_to 'Registrar boleta', guarantee, class: 'btn btn-light'
        = link_to 'Cancelar', root_path, class: 'btn btn-secondary'
