<h1>Garantias</h1>
<div class="ui divider"></div>

<div class="ui action left icon input">
  <i class="search icon"></i>
  <input type="text" placeholder="Buscar...">
  <div class="ui teal button">Buscar</div>
</div>

<%= link_to 'Exportar Excel', guarantees_path(format: "xlsx"), class: 'ui primary button' %>



<table class="ui celled table">
  <thead>
    <tr>
      <th>Numero de ingreso</th>
      <th>Fecha de ingreso</th>
      <th>Fecha de vencimiento</th>
      <th>Fecha de devolución</th>
      <th>Detalle</th>
      <th>Analista</th>
      <th>Valor de garantia</th>
      <th>Codigo BIP</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guarantees.each do |guarantee| %>
      <tr>
        <td><%= guarantee.income_number %></td>
        <td><%= guarantee.income_date.try(:strftime, "%d/%m/%Y") %></td>
        <td><%= guarantee.due_date.try(:strftime, "%d/%m/%Y") %></td>
        <td><%= guarantee.devolution_date.try(:strftime, "%d/%m/%Y") %></td>
        <td><%= guarantee.detail.capitalize %></td>  
        <td><%= guarantee.sectorialist_devolution.gsub(/[A-Za-z']+/,&:capitalize) %></td>
        <td><%= guarantee.value_guarantee %></td>
        <td><%= guarantee.bip %></td>
        <td><%= link_to 'Ver', edit_guarantee_path(guarantee), class: 'ui mini teal button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
