%br
.row
  .col-md-4
    %h4 Garantías
  .col-md-4
    = form_tag search_guarantees_path, method: :get, class: 'form-inline my-2 my-lg-0', role: 'search' do
      = text_field_tag :search, params[:search], class: 'form-control mr-sm-2'
      = button_tag "Buscar", name: nil, class: 'btn btn-outline-success my-2 my-sm-0'
  .col-md-4
    = link_to 'Agregar boleta', new_guarantee_path, class: 'btn btn-outline-primary btn-block'
%br
%table.table-hover.display.table(cellspacing="0" width="100%")
  %thead
    %tr
      %th.text-center Correlativo
      %th.text-center N° Ingreso
      %th.text-center Fecha de ingreso
      %th.text-center Fecha de vencimiento
      %th.text-center Fecha de devolución
      %th.text-center Detalle
      %th.text-center Analista
      %th.text-center Valor de garantía
      %th.text-center{colspan: 2} Acciones
  %tbody
    - @guarantees.each do |guarantee|
      %tr
        %td.text-center= guarantee.correlative
        %td.text-center= guarantee.income_number
        %td.text-center= income_date_format(guarantee.income_date)
        - if guarantee.due_date?
          %td.text-center= due_date_format(guarantee.due_date)
        - else
          %td.text-center Sin fecha de vencimiento
        - if guarantee.devolution_date?
          %td.text-center= devolution_date_format(guarantee.devolution_date)
        - else
          %td.text-center Sin fecha de devolución
        %td= capitalize_detail(guarantee.detail)
        %td= capitalize_name(guarantee.income_applicant)
        - if guarantee.currency_guarantee == 'UF'
          %td.text-center
            = guarantee.value_guarantee
            = guarantee.currency_guarantee
        - else
          %td.text-center
            = number_to_currency_clp(guarantee.value_guarantee)
            = guarantee.currency_guarantee
        %td= link_to 'Ver', edit_guarantee_path(guarantee), class: 'btn btn-outline-success btn-sm'
        %td= link_to 'Eliminar', { action: :destroy, id: guarantee.id }, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: '¿Esta seguro?' }
%br/
.row
  .col-md-4
  .col-md-4
    = will_paginate @guarantees, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
  .col-md-4
