= flash[:alert]
%h1 Garantias
.ui.divider
= form_tag search_guarantees_path, method: :get, class: 'ui action left icon input', role: 'search' do
  %i.search.icon
  = text_field_tag :search, params[:search]
  = button_tag "Buscar", name: nil, class: 'ui secondary button'
= link_to guarantees_path(format: "xlsx"), class: 'ui red right floated large button' do
  %i.file.icon
  Descargar Excel
= link_to new_guarantee_path, class: 'ui secondary right floated large button' do
  %i.plus.icon
  Agregar boleta
%table.ui.celled.table
  %thead
    %tr
      %th N° Correlativo
      %th Numero de ingreso
      %th Fecha de ingreso
      %th Fecha de vencimiento
      %th Fecha de devolución
      %th Detalle
      %th.two.wide Analista
      %th.two.wide Valor de garantia
      - if can? :update, @guarantee
        %th
      - else
        %th
  %tbody
    - @guarantees.each do |guarantee|
      %tr
        %td= guarantee.correlative
        %td= guarantee.income_number
        %td= income_date_format(guarantee.income_date)
        - if guarantee.due_date?
          %td= due_date_format(guarantee.due_date)
        - else
          %td Sin fecha de vencimiento
        - if guarantee.devolution_date?
          %td= devolution_date_format(guarantee.devolution_date)
        - else
          %td Sin fecha de devolución
        %td= capitalize_detail(guarantee.detail)
        %td= capitalize_name(guarantee.income_applicant)
        - if guarantee.currency_guarantee == 'UF'
          %td= guarantee.value_guarantee
        - else
          %td= number_to_currency_clp(guarantee.value_guarantee)
        - if can? :update, guarantee
          %td= link_to 'Ver', edit_guarantee_path(guarantee), class: 'ui mini red button'
        - else
          %td
%br/
= will_paginate @guarantes, renderer: WillPaginateSemanticUi::ActionView::Renderer
