<p>
  <strong>Income number:</strong>
  <%= @guarantee.income_number %>
</p>

<p>
  <strong>Income date:</strong>
  <%= @guarantee.income_date %>
</p>

<p>
  <strong>Income applicant:</strong>
  <%= @guarantee.income_applicant %>
</p>

<p>
  <strong>Borrower name:</strong>
  <%= @guarantee.borrower_name %>
</p>

<p>
  <strong>Borrower:</strong>
  <%= @guarantee.borrower_id %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @guarantee.bank_name %>
</p>

<p>
  <strong>Value guarantee:</strong>
  <%= @guarantee.value_guarantee %>
</p>

<p>
  <strong>Currency guarantee:</strong>
  <%= @guarantee.currency_guarantee %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @guarantee.due_date %>
</p>

<p>
  <strong>Bail:</strong>
  <%= @guarantee.bail %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @guarantee.detail %>
</p>

<p>
  <strong>Bip:</strong>
  <%= @guarantee.bip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guarantee.email %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @guarantee.observation %>
</p>

<p>
  <strong>State:</strong>
  <%= @guarantee.state %>
</p>

<p>
  <strong>Devolution number:</strong>
  <%= @guarantee.devolution_number %>
</p>

<p>
  <strong>Devolution date:</strong>
  <%= @guarantee.devolution_date %>
</p>

<p>
  <strong>Devolution return:</strong>
  <%= @guarantee.devolution_return %>
</p>

<p>
  <strong>Sectorialist devolution:</strong>
  <%= @guarantee.sectorialist_devolution %>
</p>

<p>
  <strong>Technical unit:</strong>
  <%= @guarantee.technical_unit %>
</p>

<%= link_to 'Edit', edit_guarantee_path(@guarantee) %> |
<%= link_to 'Back', guarantees_path %>
