<!DOCTYPE html>
<html>
  <head>
    <title>GoreApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>    
    <div class="pusher">
      <% if user_signed_in? %>
        <%= render 'assets/nav' %>
        <%= render 'assets/side' %>
      <% end %>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert ui message") %>
      <% end %>
      <div class="ui container">
        <div id="pusher">
          <%= yield %>
        </div>               
      </div>
      <br><br>
    </div>
    <% if user_signed_in? %>
      <%= render 'assets/footer' %>
    <% end %>
  </body>
</html>
